body {
}

.topdeck {
    display: flex;
    border: solid;
    box-sizing: border-box;
    width: 50%;
    justify-content: center;
    align-items: center
}

.bottomdeck {
    display: flex;
    border: solid;
    box-sizing: border-box;
    width: 50%;
    justify-content: center;
    align-items: center
}