@page "/counter"
@using OrbellionWeb.Components.UIElements
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Cards</h1>

<button class="btn btn-primary" @onclick="AddCard">Click me</button>

@foreach (var card in cardsList)
{
    <CardVisual DisplayedCard="card"></CardVisual>
}

@code {
    private List<Card> cardsList = new List<Card>();

    private void AddCard()
    {
        cardsList.Add(new CardTypes.Action());
    }
}
