@page "/counter"
@using OrbellionWeb.Components.UIElements
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Cards</h1>

<button class="btn btn-primary" @onclick="AddCard">Click me</button>

<div class="main" style="width: 800px; height: 800px; background-color: lightgray;">
@foreach (var card in cardsList)
{
    <CardVisual DisplayedCard="card"></CardVisual>
}


    

</div>
@code {
    private List<Card> cardsList = new List<Card>();

    private void AddCard()
    {
        cardsList.Add(new Card());
    }
}
