@page "/counter"
@using OrbellionWeb.Components.UIElements
@using OrbellionWeb.Models
@rendermode InteractiveServer

<PageTitle>Counter</PageTitle>

<h1>Cards</h1>

<button class="btn btn-primary" @onclick="AddCard">Click me</button>

<div class="battlefield dropzonebattlefield" style="width: auto; max-width: 80%; height: 800px; background-color: lightgray;">
    @foreach (var card in battlefieldCards)
    {
        <CardVisual @key="card.Id" DisplayedCard="card" CardClass="battlefieldCard card" OnDropped="@OnBattlefieldCardDropped"></CardVisual>
    }
</div>
<div class="hand dropzonehand" style="width: auto; max-width: 80%; min-height: 250px; background-color: gray; display: flex; overflow-x: auto; white-space: nowrap; padding: 10px;">
    @foreach (var card in handCards)
    {
        <CardVisual @key="card.Id" DisplayedCard="card" CardClass="handCard card" OnDropped="@OnHandCardDropped"></CardVisual>
    }
</div>

@code {
    private List<Card> battlefieldCards = new List<Card>();
    private List<Card> handCards = new List<Card>();

    private void AddCard()
    {
        battlefieldCards.Add(new Card());
    }

    private async Task OnBattlefieldCardDropped(Guid cardId)
    {
        var card = battlefieldCards.FirstOrDefault(c => c.Id == cardId);
        if (card != null)
        {
            battlefieldCards.Remove(card);
            handCards.Add(card);
            await InvokeAsync(StateHasChanged);
        }
    }
    private async Task OnHandCardDropped(Guid cardId)
    {
        var card = handCards.FirstOrDefault(c => c.Id == cardId);
        if (card != null)
        {
            handCards.Remove(card);
            battlefieldCards.Add(card);
            await InvokeAsync(StateHasChanged);
        }
    }
}
