body {
}
textarea {
    resize: none;
    border: none;
}
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
}
.battlefieldCard {
    position: absolute;
    visibility: hidden;
}
.card {
    display: grid;
    grid-template-areas:
        "title"
        "cardart"
        "typeline"
        "text";
    grid-template-columns: 1fr;
    background-color: black;
    padding: 10px;
    margin: 0px;
    width: 200px;
    flex-shrink: 0;
}

.card div {
    background-color: white;
}

.card div.title {
    grid-area: title;
}

.card div.cardart {
    grid-area: cardart;
    gap: 100px;
}

.container div.typeline {
    grid-area: menu;
}

.container div.text {
    grid-area: content;
}