body {
}
textarea {
    resize: none;
    border: none;
}
.no-select {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Standard */
}
.token {
    display: grid;
    grid-template-areas:
        "title"
        "cardart"
        "typeline"
        "text";
    grid-template-columns: 1fr;
    background-color: black;
    padding: 10px;
    margin: 0px;
    width: 200px;
    flex-shrink: 0;
    position: absolute;
}

    .token div {
        background-color: white;
    }

        .token div.title {
            grid-area: title;
        }

        .token div.cardart {
            grid-area: cardart;
            gap: 100px;
        }

        .token div.typeline {
            grid-area: typeline;
        }

        .token div.text {
            grid-area: text;
        }